body {
    background-color: orange;
    font-size: 750%;
    margin: 0%;
}

#n {
    color: purple;
    background-color: black;
    text-align: center;
}

#h {
    color: black;
    text-align: center;
}