body {
    background-color: orange;
}

#n {
    color: purple;
    background-color: black;
    font-size: 1200%;
    text-align: center;
}

#h {
    color: black;
    font-size: 1200%;
    text-align: center;
}